<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body class="http-error">   
        <div class="row-fluid">
    <div class="http-error">
        <div class="http-error-message">
            <div class="error-message">
                <p><?php echo($error); ?><p>                
            </div>
        </div>
    </div>
</div>
</body>
</html>